* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

body {
  background: url("../../img/android.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


// <!------FULL CONTAINER---------------->

// <!------NavBar---------------->
.nav-bar {
  height: 25px;
  background-color: white;
  font-size: 50px;
  color: white;

}
.nav-header {
  height: 100px;
  border: 2px solid red;
  margin-top: 25px;
  }

ul {
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin-top: 25px;
  color: white;

  }
.fa-chevron-down {
  color: white;
}
li {
  list-style-type: none;
  text-decoration: none;
  }

a {
  list-style-type: none;
  text-decoration: none;
  color: black;
  font-size: 25px
  }

.name-header {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  font-size: 25px;
  border: 2px solid green;
  }
.center {
  display: flex;
  justify-content: space-between;
  border: 2px solid red;
  background-color: black;
  opacity: 1.0;
  margin-top: 300px;
  height: 60vh;

}
.parent1 {
  display: flex;
  flex-direction: column;
  background-color: green;
  opacity: 1.0;
  width: 8vw;
  height: 60vh;
  border: 4px solid pink;
}
.parent1:hover {
  opacity: 0.8;
}
.nanny {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 60vh;
}
.ugh {
  display: flex;
  justify-content: space-around;
  height: 30px;
  width: 30px;
  border: 2px solid purple;
}
  .center {
    display: flex;
    justify-content: space-between;
    border: 2px solid red;
    background-color: black;
    opacity: 1.0;
    margin-top: 300px;
    height: 60vh;

  }
  // .parent2 {
  //   display: flex;
  //   flex-direction: column;
  //   background-color: green;
  //   opacity: 1.0;
  //   width: 8vw;
  //   height: 60vh;
  //   border: 4px solid pink;
  // }
  // .parent2:hover {
  //   opacity: 0.8;
  // }
  // .nanny {
  //   display: flex;
  //   justify-content: space-around;
  //   align-items: center;
  //   flex-direction: column;
  //   height: 60vh;
  // }
  // .ugh {
  //   display: flex;
  //   justify-content: space-around;
  //   height: 30px;
  //   width: 30px;
  //   border: 2px solid purple;


// <!------BIOGRAPHY---------------->


// <!------CONTACT---------------->


// <!------NAVBAR FOOTER---------------->
